/* css styles */
p, ul {
    font-family: "Charter";
}

figcaption {
   text-align: center;
}

a.badge {
    text-decoration: none;
}
/* 
.listing-date, .listing-categories {
    white-space: nowrap;
} */